body {
 background-color: #000;
}

h1 {
color: #fff;
text-transform: uppercase;
font-family: "Libre Baskerville", serif;
font-size: 3rem;
}

img {
border: 5px solid white;
width: 100%;
margin-top: 50px;
}

p {
color: #fff;
}
/* div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

div {
    width: 50%;
    margin-left: 25%;
}